@{
    ViewData["Title"] = "Home Page";
}

<!-- ============================ Hero Banner  Start================================== -->
<div class="image-cover hero-banner" style="background:url(assets/img/banner-1.jpg) no-repeat;">
    <div class="container">
        <div class="hero-search-wrap">
            <div class="hero-search">
                <h2>Find Properties! </h2>
            </div>
            <div class="hero-search-content side-form">

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="form-group">
                            <div class="input-with-icon">
                                <input type="text" class="form-control" id="mylocation" placeholder="Search for a location">
                                <img src="assets/img/pin.svg" width="18" alt="" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="form-group">
                            <label>Category (Select)</label>
                            <select id="category" class="form-control">
                                <option value="">&nbsp;</option>
                                <option value="For Rent" selected="selected">For Rent</option>
                                <option value="For Sale">For Sale</option>
                                <option value="Joint Venture">Joint Venture</option>
                                <option value="Short Let">Short Let</option>
                               
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="form-group">
                            <label>Type (Select)</label>
                            <select  name="proptype" id="proptype" class="form-control select2">
                                <option value="">&nbsp;</option>
                                <option value="Flat">Flat</option>
                                <option value="Houses" selected="selected">Houses</option>
                                <option value="Lands">Lands</option>
                                <option value="Commercial Property">Commercial Property</option>
                                <option value="Co-Working Spaces">Co-Working Spaces</option>
                                <option value="Offices">Offices</option>
                                <option value="Shops">Shops</option>
                                <option value="Detached Duplexes">Detached Duplexes</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="form-group">
                            <label>Minimum Price (N)</label>
                            <select name="minprice" id="minprice" class="form-control"><option value="0" selected="selected">No Min</option><option value="100000">₦ 100,000</option><option value="200000">₦ 200,000</option><option value="250000">₦ 250,000</option><option value="300000">₦ 300,000</option><option value="400000">₦ 400,000</option><option value="500000">₦ 500,000</option><option value="600000">₦ 600,000</option><option value="700000">₦ 700,000</option><option value="750000">₦ 750,000</option><option value="800000">₦ 800,000</option><option value="900000">₦ 900,000</option><option value="1000000">₦ 1 Million</option><option value="2000000">₦ 2 Million</option><option value="3000000">₦ 3 Million</option><option value="5000000">₦ 5 Million</option><option value="10000000">₦ 10 Million</option><option value="20000000">₦ 20 Million</option><option value="30000000">₦ 30 Million</option><option value="40000000">₦ 40 Million</option><option value="60000000">₦ 60 Million</option><option value="80000000">₦ 80 Million</option><option value="100000000">₦ 100 Million</option><option value="150000000">₦ 150 Million</option><option value="200000000">₦ 200 Million</option><option value="250000000">₦ 250 Million</option><option value="300000000">₦ 300 Million</option><option value="400000000">₦ 400 Million</option><option value="500000000">₦ 500 Million</option><option value="600000000">₦ 600 Million</option><option value="700000000">₦ 700 Million</option><option value="800000000">₦ 800 Million</option><option value="900000000">₦ 900 Million</option><option value="1000000000">₦ 1 Billion</option><option value="2000000000">₦ 2 Billion</option><option value="5000000000">₦ 5 Billion</option><option value="10000000000">₦ 10 Billion</option><option value="20000000000">₦ 20 Billion</option><option value="30000000000">₦ 30 Billion</option><option value="40000000000">₦ 40 Billion</option><option value="50000000000">₦ 50 Billion</option></select>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="form-group">
                            <label>Maximum Price (N)</label>
                            <select name="maxprice" id="maxprice" class="form-control"><option value="0" selected="selected">No Max</option><option value="100000">₦ 100,000</option><option value="200000">₦ 200,000</option><option value="250000">₦ 250,000</option><option value="300000">₦ 300,000</option><option value="400000">₦ 400,000</option><option value="500000">₦ 500,000</option><option value="600000">₦ 600,000</option><option value="700000">₦ 700,000</option><option value="750000">₦ 750,000</option><option value="800000">₦ 800,000</option><option value="900000">₦ 900,000</option><option value="1000000">₦ 1 Million</option><option value="2000000">₦ 2 Million</option><option value="3000000">₦ 3 Million</option><option value="5000000">₦ 5 Million</option><option value="10000000">₦ 10 Million</option><option value="20000000">₦ 20 Million</option><option value="30000000">₦ 30 Million</option><option value="40000000">₦ 40 Million</option><option value="60000000">₦ 60 Million</option><option value="80000000">₦ 80 Million</option><option value="100000000">₦ 100 Million</option><option value="150000000">₦ 150 Million</option><option value="200000000">₦ 200 Million</option><option value="250000000">₦ 250 Million</option><option value="300000000">₦ 300 Million</option><option value="400000000">₦ 400 Million</option><option value="500000000">₦ 500 Million</option><option value="600000000">₦ 600 Million</option><option value="700000000">₦ 700 Million</option><option value="800000000">₦ 800 Million</option><option value="900000000">₦ 900 Million</option><option value="1000000000">₦ 1 Billion</option><option value="2000000000">₦ 2 Billion</option><option value="5000000000">₦ 5 Billion</option><option value="10000000000">₦ 10 Billion</option><option value="20000000000">₦ 20 Billion</option><option value="30000000000">₦ 30 Billion</option><option value="40000000000">₦ 40 Billion</option><option value="50000000000">₦ 50 Billion</option></select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="form-group">
                            <label>Enter Keywords (Optional)</label>
                            <div class="input-with-icon">
                                <input type="text" class="form-control" id="searchterm" placeholder="e.g GLW97 or jacuzzi or pool">
                                <img src="assets/img/move.svg" width="18" alt="" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="hero-search-action">
                <a href="#" class="btn search-btn" onclick="searchproperties()">Search On Gillow...</a>
                <script>
                    function searchproperties() {


                        var location = $("#mylocation").val();

                        var category = $("#category").val();
                        var type = $("#proptype").val();
                        var minprice = $("#minprice").val();
                        var maxprice = $("#maxprice").val();
                        var keywords = $("#searchterm").val();

                        if (location == null) {
                            location = "";
                        }

                        if (category == null) {
                            category = "";
                        }
                        if (type == null) {
                            type = "";
                        }

                        if (minprice == null || minprice=="No Min") {
                            minprice = 0;
                        }
                        if (maxprice == null || maxprice=="No Max") {
                            maxprice = 0;
                        }
                        if (keywords == null) {
                            keywords = "";
                        }

                        window.location.href="searchresult?location="+ location +"&category="+ category +"&type="+ type +"&minprice="+minprice +"&maxprice="+ maxprice +"&keywords="+ keywords +"&skip=0"

                    }
                </script>
            </div>
        </div>
    </div>
</div>
<!-- ============================ Hero Banner End ================================== -->
<!-- ============================ Step How To Use Start ================================== -->
<section>
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-10 text-center">
                <div class="sec-heading center">
                    <h2>About Gillow</h2>
                    <br />
                    <p>Gillow is a property marketplace that makes property rental or purchase smarter, snappy, and stress-free. With the introduction of Virtual Tours, Neigborhood views using google street, clients don't have to always be physically present to inspect a property. </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="sec-heading center">
                <h2>How it works?</h2>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="middle-icon-features-item">
                    <div class="icon-features-wrap"><div class="middle-icon-large-features-box f-light-success"><i class="ti-receipt text-success"></i></div></div>
                    <div class="middle-icon-features-content">
                        <h4>Evaluate Property</h4>
                        <p>Check out the listing on gillow, if there's a Virtual Tour Uploaded for the desired listing, you can navigate to make an informed decision else, you might contact the agent for a physical inspection  </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4">
                <div class="middle-icon-features-item">
                    <div class="icon-features-wrap"><div class="middle-icon-large-features-box f-light-warning"><i class="ti-user text-warning"></i></div></div>
                    <div class="middle-icon-features-content">
                        <h4>Meet Your Agent</h4>
                        <p>Meet with the agent if necessary for further inspections and analysis of the desired property</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4">
                <div class="middle-icon-features-item remove">
                    <div class="icon-features-wrap"><div class="middle-icon-large-features-box f-light-blue"><i class="ti-shield text-blue"></i></div></div>
                    <div class="middle-icon-features-content">
                        <h4>Close The Deal</h4>
                        <p>Here comes the end of the cycle. Good luck on your property search!</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<div class="clearfix"></div>
<!-- ============================ Step How To Use End ====================== -->
<!-- ================= Explore Property ================= -->
<section class="bg-light">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-10 text-center">
                <div class="sec-heading center">
                    <h2>Gillow Featured Property</h2>
                    <p>Browse a list of featured and recommended properties from our verified agents for FREE!</p>
                </div>
            </div>
        </div>

        <div class="row list-layout">

            <!-- Single Property Start -->
            @if (ViewBag.Properties != null)
            {
                foreach (var item in ViewBag.Properties)
                {
                    <div class="col-lg-6 col-md-12">
                        <div class="property-listing property-1">

                            <div class="listing-img-wrapper">
                                <a href="propertiesdetails?ID=@item.TypeID">
                                    <img src="~/properties/@item.ImageURL" class="img-fluid mx-auto" alt="" />
                                </a>
                            </div>

                            <div class="listing-content">

                                <div class="listing-detail-wrapper-box">
                                    <div class="listing-detail-wrapper">
                                        <div class="listing-short-detail" style="float:left; width:70%">
                                            <h4 class="listing-name"><a href="propertiesdetails?ID=@item.TypeID">

    @if (item.Title.Length > 46)
    {
        @item.Title.Substring(0, 46)
        <span>...</span>
    }
    else
    {
        @item.Title
    }


</a></h4>
                                            
                                                <span class="prt-types" style="background-color:darkblue"><b style="color:white">Featured</b></span>
                                           
                                          

                                        </div>
                                        <div class="list-price" style="float:right; width:30%">
                                            <h6 class="listing-card-info-price" style="font-size:18px; color:lightseagreen">@item.Price.ToString("#,##0")</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="price-features-wrapper">
                                    <div class="list-fx-features">
                                        <div class="listing-card-info-icon">
                                            <div class="inc-fleat-icon"><img src="assets/img/bed.svg" width="13" alt="" /></div>@item.Beds Beds
                                        </div>
                                        <div class="listing-card-info-icon">
                                            <div class="inc-fleat-icon"><img src="assets/img/bathtub.svg" width="13" alt="" /></div>@item.Baths Baths
                                        </div>
                                        <div class="listing-card-info-icon">
                                            <div class="inc-fleat-icon"><img src="assets/img/move.svg" width="13" alt="" /></div>@item.Toilets Toilets
                                        </div>
                                    </div>
                                </div>

                                <div style="clear:both"></div>
                                <div class="listing-footer-wrapper">
                                    <div class="listing-locate">
                                        <span class="listing-location">
                                            <i class="ti-location-pin"></i>
                                            @if (item.Location.Length > 25)
                                            {
                                               @item.Location.Substring(0, 25) 
                                            }
                                            else
                                            {
                                                @item.Location 
                                            }
                                            ...
                                        </span>
                                    </div>
                                    <div class="listing-detail-btn">
                                        @if (item.Category == "For Sale")
                                        {
                                            <span >For Sale</span>
                                        }
                                        else
                                        {
                                            <span >For Rent</span>
                                        }
                                       
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                }
            }



        </div>

        <!-- Pagination -->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                <a href="searchresult?skip=0" class="btn btn-theme-light rounded">Browse More Properties</a>
            </div>
        </div>

    </div>
</section>
<!-- ================================= Explore Property =============================== -->
<!-- ============================ Property Location Start ================================== -->
<!--<section>
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-10 text-center">
                <div class="sec-heading center">
                    <h2>Find By Locations</h2>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores</p>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-4 col-md-4">
                <div class="location-property-wrap">
                    <div class="location-property-thumb">
                        <a href="listings-list-with-sidebar.html"><img src="assets/img/c-1.png" class="img-fluid" alt="" /></a>
                    </div>
                    <div class="location-property-content">
                        <div class="lp-content-flex">
                            <h4 class="lp-content-title">San Francisco, California</h4>
                            <span>12 Properties</span>
                        </div>
                        <div class="lp-content-right">
                            <a href="listings-list-with-sidebar.html" class="lp-property-view"><i class="ti-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4">
                <div class="location-property-wrap">
                    <div class="location-property-thumb">
                        <a href="listings-list-with-sidebar.html"><img src="assets/img/c-2.png" class="img-fluid" alt="" /></a>
                    </div>
                    <div class="location-property-content">
                        <div class="lp-content-flex">
                            <h4 class="lp-content-title">Dunao, California</h4>
                            <span>142 Properties</span>
                        </div>
                        <div class="lp-content-right">
                            <a href="listings-list-with-sidebar.html" class="lp-property-view"><i class="ti-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4">
                <div class="location-property-wrap">
                    <div class="location-property-thumb">
                        <a href="listings-list-with-sidebar.html"><img src="assets/img/c-3.png" class="img-fluid" alt="" /></a>
                    </div>
                    <div class="location-property-content">
                        <div class="lp-content-flex">
                            <h4 class="lp-content-title">Liverpool, London</h4>
                            <span>17 Properties</span>
                        </div>
                        <div class="lp-content-right">
                            <a href="listings-list-with-sidebar.html" class="lp-property-view"><i class="ti-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4">
                <div class="location-property-wrap">
                    <div class="location-property-thumb">
                        <a href="listings-list-with-sidebar.html"><img src="assets/img/c-4.png" class="img-fluid" alt="" /></a>
                    </div>
                    <div class="location-property-content">
                        <div class="lp-content-flex">
                            <h4 class="lp-content-title">San Francisco, New York</h4>
                            <span>72 Properties</span>
                        </div>
                        <div class="lp-content-right">
                            <a href="listings-list-with-sidebar.html" class="lp-property-view"><i class="ti-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4">
                <div class="location-property-wrap">
                    <div class="location-property-thumb">
                        <a href="listings-list-with-sidebar.html"><img src="assets/img/c-5.png" class="img-fluid" alt="" /></a>
                    </div>
                    <div class="location-property-content">
                        <div class="lp-content-flex">
                            <h4 class="lp-content-title">New Orleans, Louisiana</h4>
                            <span>102 Properties</span>
                        </div>
                        <div class="lp-content-right">
                            <a href="listings-list-with-sidebar.html" class="lp-property-view"><i class="ti-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4">
                <div class="location-property-wrap">
                    <div class="location-property-thumb">
                        <a href="listings-list-with-sidebar.html"><img src="assets/img/c-6.png" class="img-fluid" alt="" /></a>
                    </div>
                    <div class="location-property-content">
                        <div class="lp-content-flex">
                            <h4 class="lp-content-title">Los Angeles</h4>
                            <span>95 Properties</span>
                        </div>
                        <div class="lp-content-right">
                            <a href="listings-list-with-sidebar.html" class="lp-property-view"><i class="ti-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                <a href="listings-list-with-sidebar.html" class="btn btn-theme-light-2 rounded">Browse More Locations</a>
            </div>
        </div>

    </div>
</section>-->
<!-- ============================ Property Location End ================================== -->
<!-- ============================ Smart Testimonials ================================== -->
<!--<section class="bg-orange">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-10 text-center">
                <div class="sec-heading center">
                    <h2>Good Reviews by Customers</h2>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">

            <div class="col-lg-12 col-md-12">

                <div class="smart-textimonials smart-center" id="smart-textimonials">-->

                    <!-- Single Item -->
                    <!--<div class="item">
                        <div class="item-box">
                            <div class="smart-tes-author">
                                <div class="st-author-box">
                                    <div class="st-author-thumb">
                                        <div class="quotes bg-blue"><i class="ti-quote-right"></i></div>
                                        <img src="assets/img/user-3.jpg" class="img-fluid" alt="" />
                                    </div>
                                </div>
                            </div>

                            <div class="smart-tes-content">
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti.</p>
                            </div>

                            <div class="st-author-info">
                                <h4 class="st-author-title">Adam Williams</h4>
                                <span class="st-author-subtitle">CEO Of Microwoft</span>
                            </div>
                        </div>
                    </div>-->

                    <!-- Single Item -->
                    <!--<div class="item">
                        <div class="item-box">
                            <div class="smart-tes-author">
                                <div class="st-author-box">
                                    <div class="st-author-thumb">
                                        <div class="quotes bg-inverse"><i class="ti-quote-right"></i></div>
                                        <img src="assets/img/user-8.jpg" class="img-fluid" alt="" />
                                    </div>
                                </div>
                            </div>

                            <div class="smart-tes-content">
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti.</p>
                            </div>

                            <div class="st-author-info">
                                <h4 class="st-author-title">Retha Deowalim</h4>
                                <span class="st-author-subtitle">CEO Of Apple</span>
                            </div>
                        </div>
                    </div>-->

                    <!-- Single Item -->
                    <!--<div class="item">
                        <div class="item-box">
                            <div class="smart-tes-author">
                                <div class="st-author-box">
                                    <div class="st-author-thumb">
                                        <div class="quotes bg-purple"><i class="ti-quote-right"></i></div>
                                        <img src="assets/img/user-4.jpg" class="img-fluid" alt="" />
                                    </div>
                                </div>
                            </div>

                            <div class="smart-tes-content">
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti.</p>
                            </div>

                            <div class="st-author-info">
                                <h4 class="st-author-title">Sam J. Wasim</h4>
                                <span class="st-author-subtitle">Pio Founder</span>
                            </div>
                        </div>
                    </div>-->

                    <!-- Single Item -->
                    <!--<div class="item">
                        <div class="item-box">
                            <div class="smart-tes-author">
                                <div class="st-author-box">
                                    <div class="st-author-thumb">
                                        <div class="quotes bg-primary"><i class="ti-quote-right"></i></div>
                                        <img src="assets/img/user-5.jpg" class="img-fluid" alt="" />
                                    </div>
                                </div>
                            </div>

                            <div class="smart-tes-content">
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti.</p>
                            </div>

                            <div class="st-author-info">
                                <h4 class="st-author-title">Usan Gulwarm</h4>
                                <span class="st-author-subtitle">CEO Of Facewarm</span>
                            </div>
                        </div>
                    </div>-->

                    <!-- Single Item -->
                    <!--<div class="item">
                        <div class="item-box">
                            <div class="smart-tes-author">
                                <div class="st-author-box">
                                    <div class="st-author-thumb">
                                        <div class="quotes bg-success"><i class="ti-quote-right"></i></div>
                                        <img src="assets/img/user-6.jpg" class="img-fluid" alt="" />
                                    </div>
                                </div>
                            </div>

                            <div class="smart-tes-content">
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti.</p>
                            </div>

                            <div class="st-author-info">
                                <h4 class="st-author-title">Shilpa Shethy</h4>
                                <span class="st-author-subtitle">CEO Of Zapple</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>-->
<!-- ============================ Smart Testimonials End ================================== -->
<!-- ============================ Price Table Start ================================== -->
<!--<section>
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-10 text-center">
                <div class="sec-heading center">
                    <h2>See our packages</h2>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores</p>
                </div>
            </div>
        </div>

        <div class="row">-->

            <!-- Single Package -->
            <!--<div class="col-lg-4 col-md-4">
                <div class="pricing-wrap basic-pr">

                    <div class="pricing-header">
                        <h4 class="pr-value"><sup>$</sup>49</h4>
                        <h4 class="pr-title">Basic Package</h4>
                    </div>
                    <div class="pricing-body">
                        <ul>
                            <li class="available">5+ Listings</li>
                            <li class="available">Contact With Agent</li>
                            <li class="available">3 Month Validity</li>
                            <li>7x24 Fully Support</li>
                            <li>50GB Space</li>
                        </ul>
                    </div>
                    <div class="pricing-bottom">
                        <a href="#" class="btn-pricing">Choose Plan</a>
                    </div>

                </div>
            </div>-->

            <!-- Single Package -->
            <!--<div class="col-lg-4 col-md-4">
                <div class="pricing-wrap platinum-pr recommended">

                    <div class="pricing-header">
                        <h4 class="pr-value"><sup>$</sup>99</h4>
                        <h4 class="pr-title">Platinum Package</h4>
                    </div>
                    <div class="pricing-body">
                        <ul>
                            <li class="available">5+ Listings</li>
                            <li class="available">Contact With Agent</li>
                            <li class="available">3 Month Validity</li>
                            <li class="available">7x24 Fully Support</li>
                            <li>50GB Space</li>
                        </ul>
                    </div>
                    <div class="pricing-bottom">
                        <a href="#" class="btn-pricing">Choose Plan</a>
                    </div>

                </div>
            </div>-->

            <!-- Single Package -->
            <!--<div class="col-lg-4 col-md-4">
                <div class="pricing-wrap standard-pr">

                    <div class="pricing-header">
                        <h4 class="pr-value"><sup>$</sup>199</h4>
                        <h4 class="pr-title">Standard Package</h4>
                    </div>
                    <div class="pricing-body">
                        <ul>
                            <li class="available">5+ Listings</li>
                            <li class="available">Contact With Agent</li>
                            <li class="available">3 Month Validity</li>
                            <li class="available">7x24 Fully Support</li>
                            <li class="available">50GB Space</li>
                        </ul>
                    </div>
                    <div class="pricing-bottom">
                        <a href="#" class="btn-pricing">Choose Plan</a>
                    </div>

                </div>
            </div>

        </div>

    </div>
</section>-->
<!-- ============================ Price Table End ================================== -->